body{
    font-family:'Open Sans' sans-serif;
}
.bannner1{
    background-color: #cacaca;
}
.bannner-col{
    background-color: #8d8d8d;

}
.navbaar-container{
    background-color: #262B37;
}
#About{
    background-color: #00BDBD;
}
.Circle{
    width: 150px;
    height: 150px;
    background-color: #fb857f;
    border-radius: 50%;
    text-align: center;
}